<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Papeleria la UNO</title>
    <style>
        background-color: #f2f2f2;
        color: #333;
        font-family: Arial, sans-serif;
      }

      h1 {
        text-align: center;
        margin-top: 20px;
        color: #2c3e50;
      }

      /* Estilos para el encabezado */
      .ui-page-theme-a .ui-bar-inherit {
        background-color: #2c3e50; /* Color de fondo */
        color: #fff; /* Color del texto */
      }

      /* Estilos para el contenido */
      .ui-content {
        padding: 20px;
      }

      /* Estilos para las imágenes */
      .image-cont {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .image-cont img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega sombreado */
      }

      /* Estilos para la lista de productos */
      #product-list {
        background-color: #f5f5f5; /* Color de fondo */
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
      }

      #product-list li {
        border-bottom: 1px solid #ccc; /* Borde inferior */
        background-color: #ecf0f1; /* Color de fondo de los elementos de la lista */
        padding: 10px;
      }

      #product-list h2 {
        color: #333; /* Color del texto del título */
        font-weight: bold; /* Texto en negrita */
        margin-bottom: 5px;
      }

      #product-list p {
        color: #666; /* Color del texto del párrafo */
        margin-top: 5px;
        margin-bottom: 5px;
      }

      /* Estilos para el formulario de búsqueda */
      form {
        margin-bottom: 20px; /* Margen inferior */
      }

      #search {
        width: 100%; /* Ancho completo */
        padding: 5px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Borde redondeado */
        margin-bottom: 10px;
      }

      /* Estilos para el pie de página */
      .ui-footer {
        text-align: center;
        padding: 10px;
        background-color: #2c3e50;
        color: #fff;
      }


    </style>

</head>
<body>

    <h1>Papeleria la UNO</h1>

      
  <!-- -----------------------------Pagina inicio----------------------- -->

      

  <div data-role="page" id="page1">
    <div data-role="header">
      <div data-role="navbar">
          <ul>
          <li><a href="#page1" data-icon="home" class="ui-btn-active" >Inicio</a></li>
          <li><a href="#page2" data-icon="tag">Productos</a></li>
          <li><a href="#page3" data-icon="search" >Busqueda</a></li>
          </ul>
          </div><!-- /navbar -->
    <div role="main" class="ui-content">
      <h2>Bienvenido a Papelería la UNO</h2>
      <div class="image-cont">
        <img src="https://www.elsoldetlaxcala.com.mx/local/yjx2h5-papeleria-2.jpg/ALTERNATES/LANDSCAPE_768/PAPELERIA%202.jpg" alt="">
    
      </div>
      <p>Encuentra todo lo que necesitas para tu oficina o escuela.</p>
      <p>Explora nuestra amplia selección de productos y aprovecha nuestras ofertas.</p>
    </div>
  
    <div data-role="footer">
      <h4>Developed by Carlos Jesus</h4>
    </div>
  
  </div>
  </div>




    <div data-role="page" id="page2">
      <div data-role="header">
        <div data-role="navbar">
            <ul>
            <li><a href="#page1" data-icon="home" >Inicio</a></li>
            <li><a href="#page2" data-icon="tag" class="ui-btn-active">Productos</a></li>
            <li><a href="#page3" data-icon="search" >Busqueda</a></li>
            </ul>
            </div><!-- /navbar -->
    </div>
    <div data-role="content">
        <form action="/" method="POST" >
            <label for="txt_codigo_barras">Codigo de barras:</label>
            <input type="text" name="barcode" id="txt_codigo_barras" placeholder="Codigo de barras">

            <label for="txt_descripcion">Nombre:</label>
            <input type="text" name="description" id="txt_descripcion" placeholder="Nombre">

            <label for="txt_marca">Marca:</label>
            <input type="text" name="brand" id="txt_marca" placeholder="Marca">

            <label for="txt_price">Precio:</label>
            <input type="text" name="price" id="txt_price" placeholder="Precio">

            <label for="txt_stock">Stock:</label>
            <input type="text" name="stock" id="txt_stock" placeholder="Stock">


            <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button> 
            
        </form>
<form>
            </form>
            <div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren">
       <% products.forEach((product)=>{%>
        <div data-role="collapsible" data-filtertext="<%= product.description%>">
            <h3><%= product.description %></h3>
                <ul data-role="listview" data-inset="false">
                <li data-filtertext="Animals Cats">Codigo de barras<%= product.barcode %></li>
                <li data-filtertext="Animals Dogs">Marca: <%= product.brand%> </li>
                <li data-filtertext="Animals Lizards">Precio de compra: <%= product.price%></li>
                <li>Existencias: <%= product.stock%> </li>
                <li><a href="/<%= product.barcode %>" class="ui-btn">Editar</a></li>
                <li><a href="/delete/<%= product.barcode %>" class="ui-btn">Eliminar</a></li>
               </ul>
        </div>
       <%}) %>
    </div>
    <div data-role="footer">
        <h5>Developed by Carlos Jesus</h5>
    </div>
    
</div>


    </div>

           


    

      <!-- -----------------------------Pagina de busqueda----------------------- -->

      
<div data-role="page" id="page3">
    <div data-role="header">
        <div data-role="navbar">
            <ul>
            <li><a href="#page1" data-icon="home">Inicio</a></li>
            <li><a href="#page2" data-icon="tag">Productos</a></li>
            <li><a href="#page3" data-icon="search" class="ui-btn-active">Busqueda</a></li>
            </ul>
            </div><!-- /navbar -->
    </div>
  
    <div role="main" class="ui-content">
      <form>
        <label for="search">Buscar producto:</label>
        <input type="text" id="search" placeholder="Nombre del producto">
      </form>
  
      <ul data-role="listview" id="product-list" data-filter="true" data-input="#search">
        <% products.forEach((product) => { %>
          <li>
            <h2><%= product.description %></h2>
            <p>Código de barras: <%= product.barcode %></p>
            <p>Marca: <%= product.brand %></p>
            <p>Precio de compra: <%= product.price %></p>
            <p>Existencias: <%= product.stock %></p>
          </li>
        <% }); %>
      </ul>
    </div>
  
  </div>




</body>
</html>
